<div id="tools">
  <div class="tool">
    <span>Ordenar por:</span>
    <button (click)="ordenarProductos('mayorPrecio')">Mayor precio</button>
    <button (click)="ordenarProductos('menorPrecio')">Menor precio</button>
    <button>Mas relevantes</button>
  </div>
  <div class="tool">
    <span>Filtrar por:</span>
    <button>En oferta</button>
    <button>En stock</button>
  </div>
</div>

<div id="lateral">
  <div class="lat-menu">
    <span>Productos:</span>
    <button
      class="botonLateral"
      (click)="cambiarProducto('Todos los productos')"
    >
      Todos
    </button>
    <button class="botonLateral" (click)="cambiarProducto('auriculares')">
      Auriculares
    </button>
    <button class="botonLateral" (click)="cambiarProducto('mouses')">
      Mouses
    </button>
    <button class="botonLateral" (click)="cambiarProducto('teclados')">
      Teclados
    </button>
    <button class="botonLateral" (click)="cambiarProducto('mousepads')">
      Mouse pads
    </button>
    <button class="botonLateral" (click)="cambiarProducto('monitores')">
      Monitores
    </button>
  </div>

  <div class="lat-menu">
    <span>Marcas:</span>
    <button class="botonLateral" (click)="cambiarMarca('Todas las marcas')">
      Todas
    </button>
    <button class="botonLateral" (click)="cambiarMarca('hp')">Hp</button>
    <button class="botonLateral" (click)="cambiarMarca('genius')">
      Genius
    </button>
    <button class="botonLateral" (click)="cambiarMarca('redragon')">
      Redragon
    </button>
    <button class="botonLateral" (click)="cambiarMarca('samsung')">
      Samsung
    </button>
    <button class="botonLateral" (click)="cambiarMarca('logitech')">
      Logitech
    </button>
  </div>
</div>

<div id="galeria">
  <span id="filtros">{{ productoFiltro }} / {{ marcaFiltro }}</span>
  <div
    class="contenedorProducto"
    *ngFor="let producto of productosPaginaActual"
  >
    <a [href]="productoLink(producto)" class="producto">
      <img [src]="producto.imagen" class="imagen" />
      <div class="descripcion">
        <p class="nombre-producto">{{ producto.nombre }}</p>
        <p class="descripcion-producto">
          {{ longitud(producto.descripcion, 30) }}...
        </p>
        <p class="precio-producto">{{ precio(producto.precio, 0) }}</p>
      </div>
    </a>
  </div>
</div>
<img id="chat" src="https://i.postimg.cc/gJ3Vs7cz/Nuevo-proyecto.png" />

<div id="selectorDePaginas">
  <button class="controladorPaginas" (click)="primeraPagina()">
    <span class="material-symbols-outlined"> first_page </span>
  </button>
  <button class="controladorPaginas" (click)="anterior()">
    <span class="material-symbols-outlined"> navigate_before </span>
  </button>

  <div id="numerosDePagina" *ngFor="let pagina of listaPaginas">
    <button
      [ngStyle]="{
        'background-color': pagina == paginaActual ? '#F5F5F5' : 'white',
        padding: pagina == paginaActual ? '5px 7px 5px 7px' : '6px 8px 6px 8px',
        'font-size':
          pagina == paginaActual ? 'font-size: 11px' : 'font-size: 14px',
        'box-shadow':
          pagina == paginaActual
            ? '2px 3px 4px 1.5px rgba(77, 76, 76, 0.281)'
            : '2px 3px 10px 3px rgba(77, 76, 76, 0.281)'
      }"
      class="numerosDePagina"
      (click)="cambiarPagina(pagina)"
    >
      {{ pagina }}
    </button>
  </div>

  <button class="controladorPaginas" (click)="siguiente()">
    <span class="material-symbols-outlined"> navigate_next </span>
  </button>

  <button class="controladorPaginas" (click)="ultimaPagina()">
    <span class="material-symbols-outlined"> last_page </span>
  </button>
  <div></div>
</div>
