<div class="banners">
  <a href="/store/0"
    ><img id="banner" src="https://i.postimg.cc/2yK5dy89/1111.png" value="sdfd"
  /></a>
  <div class="tituloBanner">Todo para tu pc</div>
  <div class="descripcionBanner">Al mejor precio</div>
</div>

<div class="filtros">
  <a href="/store/2">
    <img
      class="imagenFiltro"
      src="https://i.postimg.cc/mkjkRZYL/CORSAIR-Gaming-Mouse-Pad-MM800-POLARIS-RGB-15-Zone-LED-Customizable-Lighting-Hard-Mouse-Pad-USB.jpg"
  /></a>
  <a class="etiquetaFiltro">Mouses</a>
</div>

<div class="filtros">
  <a href="/store/3">
    <img
      class="imagenFiltro"
      src="https://i.postimg.cc/N0W1hZ5L/Cynosa-Chroma-Desktop-Setup-Photo-02.jpg"
  /></a>
  <a class="etiquetaFiltro">Teclados</a>
</div>

<div class="filtros">
  <a href="/store/1"
    ><img
      class="imagenFiltro"
      src="https://i.postimg.cc/xT2VjdW3/c02ebc07b612e85a23bcd1367377691c.jpg"
  /></a>
  <a class="etiquetaFiltro">Auriculares</a>
</div>

<div class="filtros">
  <a href="/store/4"
    ><img
      class="imagenFiltro"
      src="https://i.postimg.cc/cC4Yf3CG/ASUS-ROG-Balteus-Qi-3-1-1024x673.jpg"
  /></a>
  <a class="etiquetaFiltro">Mouse pads</a>
</div>

